<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom shadow-sm sticky-top">
    <div class="container-fluid">
  
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img src="/img/LocalLink.png" alt="Logo" style="width: 50px;">
      </a>
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-link nav-link-custom" href="/">Home</a>
          <a class="nav-link nav-link-custom" href="/chats">Chats</a>
          <a class="nav-link nav-link-custom" href="/about">About Us</a>
          <a class="nav-link nav-link-custom" href="/contact">Contact Us</a>
          <a class="nav-link nav-link-custom" href="/faq">FAQ</a>
        </div>
  
        <!-- Auth Buttons -->
        <div class="navbar-nav ms-auto">
            <a class="btn btn-outline-light me-2" href="/login">Log in</a>
            <a class="btn btn-primary" href="/signup">Sign up</a>
        </div>
      </div>
    </div>
  </nav>
  